.contacts {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: 0.04em;
    list-style-type: none;
  }
  .nav-agency {
    font-weight: 700;
    color: var(--font-color);
  }
  
  .logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    color: var(--project-blue);
    font-size: 26px;
    margin-right: 93px;
    margin-top: 25px;
    margin-bottom: 24px;
  }
  
  .logo--white {
    color: var(--primary-white);
  }

  & a:hover,
  & a:focus {
    color: var(--project-blue);
  }
  .header-contact {
    color: #757575;
    text-decoration: none;
    line-height: 16px;
    display: flex;
  }
  
  .mail {
    margin-right: 30px;
  }
  &:hover svg {
    color: var(--project-blue);
    fill: var(--project-blue);
  }
  &:hover,
  &:focus {
    color: var(--project-blue);
    transition: var(--transition-duration);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }


.header__icon {
  fill: var(--grey);
  margin-right: 10px;
  height: 16px;
  align-items: center;
  transition-property: fill;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
&--mail {
    fill: var(--grey);
    padding-top: 1px;
  }

  &--smartphone {
    position: absolute;
  }