
  .footer__contact {
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    text-decoration: none;
  }
  #footer-email {
    text-decoration: none;
    display: block;
    padding: 9px 0;
  }
  
  .footer__contact:hover,
  .footer__contact:focus {
    color: var(--project-blue);
  }