.footer__content {
    padding-right: 6%;
  }
  .footer__container {
    margin-right: 70px;
  }
  .footer__content {
    padding: 60px 0;
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }