.footer-social {
    padding-top: 12px;
  }
  
  .footer-social h3 {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--primary-white);
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  
  .footer-social-links {
    display: flex;
    list-style: none;
    justify-content: space-between;
    gap: 10px;
    padding-left: 0;
    margin: 0;
    fill: var(--primary-white);
  }
  
  .footer-social-links li {
    height: 44px;
    width: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
  }
  
  .footer-social-links li:hover {
    background-color: var(--project-blue);
    transition: all 0.3s;
  }
  