.services__header {
    background-color: #ffffff;
    display: block;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.3;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
  }
  .services__content {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 30px;
    margin: 0;
  }
  .services {
    padding-bottom: 94px;
  }
  .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    justify-content: center;
    padding-top: 94px;
  }
  .box-imgs {
    width: 33.333%;
  }
  .box-images {
    max-width: 100%;
    width: 100%;
    height: auto;
  }
  